* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    background: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    max-width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}

.nav-bar-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-bar-list-right {
    display: flex;
    gap: 12px;
}

.nav-link {
    list-style: none;
}


.nav-link-text {
    font-family: 'Inter , sans-serif';
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #18191F;
    text-decoration: none;
}

.nav-link-text>img {
    width: 105px;
    height: 28px;
}

img.app {
    width: 135px;
    height: 40px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 100px auto auto;
    padding: 0 20px;
    max-width: 1440px;
    max-height: 1000px;

}

.hero-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-content {
    width: 730px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-image-container {
    width: 350px;
    height: 750px;
}

.hero-button {
    width: 154px;
    height: 48px;
    background-color: blueviolet;
    color: white;
    border-radius: 6px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.hero-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: #18191F;
    margin-top: 70px;
}

.hero-image-container>img {
    width: 450px;
}

.hero-company-logos {
    height: 110px;
    display: flex;
    align-items: center;
    gap: 65px;
    margin-top: 100px;
    margin: auto;
}

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 165px;
}

.feature-heading {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 136px;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    text-shadow: 2px 2px gray;
    text-align: center;

}

.feature-heading-explain {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #18191F;
    text-align: center;
    margin-top: 8px;

}

.feature-list-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.feature-list-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;

}


.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    width: 350px;
}

.feature>p {
    font-family: 'Inter';
    line-height: 26px;
    font-size: 16px;
    margin-top: 8px;
}

.story {
    background-color: #D5FAFC;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: center;
    position: relative;
}

.story-heading {
    display: flex;
    flex-direction: column;
}

.kama {
    position: absolute;
    top: 110px;
    left: 430px;
    opacity: 0.3;

}

.story-title {
    width: 445px;
    height: 128px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.story-heading-explain {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.story-start-1 {
    width: 350px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: none;
    padding: 32px;
    justify-content: flex-end;
}

.story-start-2 {
    width: 450px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    padding: 32px;
    justify-content: flex-end;
}

.story-start-3 {
    width: 350px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    padding: 32px;
    justify-content: flex-end;
}

.story-image {
    width: 140px;
    height: 40px;
}

.hubspot-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.story-card {
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.story-content-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.story-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 32px;
    gap: 32px;
}

.story-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: grey;
}

.airbnb-bookmyshow-story {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 130px;
}

.airbnb-story {
    width: 445px;
}

.bookmyshow-story {
    width: 350px;
}

/**************/

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 332px;
}

.info-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 540px;
    height: 168px;
}

.info-title{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}

.info-brief{
    height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}


.info-counts {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;
width: 540px;
height: 172px;
}

.row-1{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;
width: 540px;
height: 66px;
}

.info{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 255px;
    height: 66px;

}

.row-2{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;
width: 540px;
height: 66px;
}

.sec-4{
    height: 668px;
    display: flex;
    align-items: center;
    padding: 64px 165px;
    gap: 30px;
    justify-content: center;
}

.mockup-content{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 48px;
gap: 32px;
width: 540px;
height: 302px;
}
.mockup-title{
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 54px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}

.mockup-description{
    width: 444px;
height: 160px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;

}

.get-started{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-feature-settings: 'salt' on, 'liga' off;
color: #8C30F5;
border: none;
}

.sec-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-5-details{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 30px;
    margin-top: 65px;
}

.sec-5-title{
    width: 540px;
    height: 108px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.sec-5-description{
    width: 540px;
    height: 128px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.sec-5-image{
    width: 1110px;
    height: 400px;
    background: url(./images/coverImage.png);
    border-radius: 8px;
}

.sec-6{
    background: #2EC5CE;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.sec-6-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.sec-6-section-message{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

}

.sec-6-title{
    width: 540px;
height: 128px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}

.sec-6-description{
width: 540px;
height: 96px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}

.sec-6-get-app{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 282px;
height: 76px;
}

.sec-6-get-app-title{
width: 104px;
height: 28px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}
.sec-6-get-app-logos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 282px;
    height: 40px;
}


